language: python
python:
    - "2.6"
    - "2.7"
install:
    - pip install -r requirements.txt --use-mirrors
script:
    - nosetests --with-coverage --cover-package=discogs_client
after_success:
    - coveralls
